#Custom_MainBar {
  width: 990px;
  min-height: 90px;
  max-height: 270px;
  display: block;
  position: relative;
  margin: auto;
  color: #ccc;
  background-color: #1A3753;
  border-radius: 5px;
  padding: 5px;
}

.Custom_MainBar_Box {
  width: 300px;
  height: 69px;
  border: 1px white solid;
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
